@charset "utf-8";
@import url(/static/common/layui/css/layui.css);
*{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
    overflow-x:hidden; 
    overflow-y:auto;
}
body{
    width: 100%;
    min-height: 100%;
}
.login-bg{
    /*background: #eeeeee url() 0 0 no-repeat;*/
     background:url(../images/bg.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.login{
    margin: 120px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
.login a.logo{
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}
.login .message {
    margin: 10px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #189F92;
    position: relative;
    color: #fff;
    font-size: 16px;
}
.login #darkbannerwrap {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}

.login input[type=text],
.login input[type=file],
.login input[type=password],
.login input[type=email], select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 0px 16px;
    font-size: 14px;
    color: #555555;
    outline:none;
    width:100%;
    box-sizing: border-box;
}
.login input[type=text]:focus,
.login input[type=file]:focus,
.login input[type=password]:focus,
.login input[type=email]:focus, select:focus {
    border: 1px solid #27A9E3;
}
.login input[type=submit],
.login input[type=button]{
    display: inline-block;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #189F92;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline:none;
    width:100%;
}
.login hr {
    background: #fff url() 0 0 no-repeat;
}
.login hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.login hr.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.x-body{
    padding: 20px;
}
.x-nav{
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}
xblock{
    display: block;
    padding: 5px;
    line-height: 22px;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}
.x-right{
  float: right;
}
.x-so{
    /*text-align: center;*/
    /*background: #f2f2f2 url() 0 0 no-repeat;*/
    margin-bottom: 20px;
}
.x-so input.layui-input{
    width: 150px;
}
.x-so .layui-form-label{
    display: inline-block;
}
.x-so input.layui-input,.x-so input.layui-btn{
    display: inline-block;
}
.x-red{
    color: red;
}
.x-a{
    color: #1AA093;
}
.x-a:hover{
    color: #127F74;
}
.x-sort{
    height: 30px;
}
.x-show{
    cursor: pointer;
}
.layui-form-switch{
    margin-top: 0px;
}
.layui-input:focus, .layui-textarea:focus {
    border-color: #189f92!important;
}

.page{
    margin-top: 20px;
    text-align: center;

}
.page a{
    display: inline-block;
    background: #fff url() 0 0 no-repeat;
    color: #888;
    padding: 5px 10px;
	height: 20px;
    line-height: 20px;
    min-width: 15px;
    border: 1px solid #E2E2E2;

}
.page span{
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}
.page span.current{
    display: inline-block;
    background: #009688 url() 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #009688;
}
.page .pagination li{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.page .pagination li.active span{
    background: #009688 url() 0 0 no-repeat;
    color: #fff;
    border: 1px solid #009688;

}

/*登录样式*/
/*头部*/
.container{
    width: 100%;
    height: 60px;
    background-color: #009688;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container .logo a{
    float: left;
    color: #fff;
    font-size: 18px;
    padding-left: 30px;
    line-height: 60px;
    width: 170px;
}
.container .right{
    background-color:rgba(0,0,0,0);
    float: right;

}
.container .left_open{
    height: 60px;
    float: left;
}
.container .left_open i{
    display: block;
    background: rgba(255,255,255,0.1) url() 0 0 no-repeat;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.container .left_open i:hover{
    background: rgba(255,255,255,0.3) url() 0 0 no-repeat;
}

.container .left{
    background-color:rgba(0,0,0,0);
    float: left;

}
.container .layui-nav-item{
    line-height: 60px;
}
.container .layui-nav-item a i.iconfont{
    padding-right:10px;
}
.container .layui-nav-child{
    top: 60px;
}
.container .layui-nav-child i{
    margin-right: 10px;
}
.layui-nav .layui-nav-item a{
    color: #fff;
    cursor: pointer;
}
.layui-nav .layui-nav-child a{
    color: #333;
    cursor: pointer;
}
.left-nav{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 2;
    background-color: #393D49;
    color: #fff;
    width: 200px;
    max-width: 200px;
    overflow-x:hidden;
    border-right: 1px solid #e5e5e5;
    overflow:hidden;

    /*width: 0px;*/
}

.left-nav #nav li{
    display: block;
    width: 100%;
   /* line-height: 45px;*/
}
ul.sub-menu li:hover {
    background-color: #4E5465;
}


.sub-menu li a{
    color: rgba(255,255,255,.7);
}

.left-nav #nav li:hover > a{
   /*color: blue;*/
}
.left-nav #nav .current{
    background-color: #009688;
    color: #fff;
}
.left-nav #nav .current a{
    color: #fff;
}
.sub-menu li{
    background-color: rgba(0, 0, 0, 0.3);
}
li.open a {
    color: #fff;
}
.left-nav #nav li a{
    font-size: 14px;
    padding: 12px 5px 12px 30px;
    display: block;
    cursor: pointer;
    color: rgba(255,255,255,.7);
}

.left-nav #nav li a cite{
    font-size: 14px;
}

.left-nav #nav li .sub-menu{
    display: none;
    background-color: rgba(0,0,0,.3)!important;
}
.left-nav #nav li .opened{
    display: block;
}
.left-nav #nav li .opened:hover{
    /*background: #fff url() 0 0 no-repeat;*/
}
.left-nav #nav li .opened .current{
    
}
.left-nav #nav li .sub-menu li:hover{
    /*color: blue;*/
     /*background: #fff url() 0 0 no-repeat;*/
}
.left-nav #nav li .sub-menu li a{
    padding: 12px 15px 12px 60px;
    font-size: 14px;
    cursor: pointer;
}
.left-nav #nav li .sub-menu li .sub-menu li a{
    padding-left: 60px;
}
.left-nav #nav li .sub-menu li a:hover{
  /*  color: #009688;*/
}
.left-nav #nav li .sub-menu li a i{
    font-size: 12px;
}
.left-nav #nav li a i{
    padding-right: 10px;
    line-height: 14px;
}
.left-nav #nav li .nav_right{
    float: right;
    font-size: 16px;
   padding-right: 10px;
}
.x-slide_left {
    width: 17px;
    height: 61px;
    background: url(../images/icon.png) 0 0 no-repeat;
    position: absolute;
    top: 200px;
    left: 221px;
    cursor: pointer;
    z-index: 3;
}
.page-content{
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 42px;
    left: 200px;
    overflow: hidden;
    z-index: 1;
}
.page-content-bg{
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 42px;
    left: 221px;
    background: rgba(0,0,0,0.5); url() 0 0 no-repeat;
    overflow: hidden;
    z-index: 100;
    display: none;
}

.page-content .tab{
    height: 100%;
    width: 100%;
    background: #EFEEF0 url() 0 0 no-repeat;
    margin: 0px;
}
.page-content .layui-tab-title{
    /*padding-top: 5px;*/
    height: 35px;
    background: #EFEEF0 url() 0 0 no-repeat;
    position: relative;
    z-index: 100;
}
.page-content .layui-tab-title li.home i{
    padding-right: 5px;
}
.page-content .layui-tab-title li.home .layui-tab-close{
    display: none;
}
.page-content .layui-tab-title li{
    line-height: 35px;
}
.page-content .layui-tab-title .layui-this:after{
    height: 36px;
}
.page-content .layui-tab-title li .layui-tab-close{
    border-radius: 50%;
}
.page-content .layui-tab-title .layui-this{
    background: #fff;
}
.page-content .layui-tab-bar{
    height:34px;
    line-height: 35px;
}
.page-content .layui-tab-content{
    position: absolute;
    top: 36px;
    bottom: 0px;
    width: 100%;
    background: #fff;
    padding: 0px;
    overflow: hidden;
}
.page-content .layui-tab-content .layui-tab-item{
    width: 100%;
    height: 100%;
    
}
.page-content .layui-tab-content .layui-tab-item iframe{
    width: 100%;
    height: 100%;

}
.x-admin-carousel,.layui-carousel,.x-admin-carousel>[carousel-item]>* {
    background-color:#fff
}

.x-admin-backlog .x-admin-backlog-body {
    display:block;
    padding:10px 15px;
    background-color:#f8f8f8;
    color:#999;
    border-radius:2px;
    transition:all .3s;
    -webkit-transition:all .3s
}
.x-admin-backlog-body h3 {
    padding-bottom:10px;
    font-size:12px
}
.x-admin-backlog-body p cite {
    font-style:normal;
    font-size:30px;
    font-weight:300;
    color:#009688
}
.x-admin-backlog-body:hover {
    background-color:#CFCFCF;
    color:#888
}

.welcome-footer{padding: 30px 0; line-height: 30px; text-align: center; background-color: #eee; color: #666; font-weight: 300;}
body .layui-layout-admin .footer-demo{height: auto; padding: 15px 0; line-height: 26px;}
.welcome-footer a{padding: 0 5px;}

table th, table td {
    word-break: break-all;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #009688;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 41px;
    color: #fff;
    /*padding-left: 10px;*/
}
.footer .copyright{
    margin-left: 10px;
}

@media screen and (max-width: 768px){
    .fast-add{
        display: none;
    }
    .layui-nav .to-index{
        display: none;
    }
    .container .logo a{
        width: 140px;
    }
    .container .left_open {
        /*float: right;*/
    }
    .left-nav{
        left: -221px;
    }
    .page-content{
        left: 0px;
    }
    .page-content .layui-tab-content .layui-tab-item{
        -webkit-overflow-scrolling: touch; 
        overflow-y: scroll; 
    }
    .x-so input.layui-input{
        width: 100%;
        margin: 10px;
    }
}

@media screen and (min-width:768px){
	th {
		white-space: nowrap;
	}
}

/**右键菜单*/
.rightmenu {
    position: absolute;
    width: 110px;
    z-index: 9999;
    display: none;
    background-color: #fff;
    padding: 2px;
    color: #333;
    border: 1px solid #eee;
    border-radius: 2px;
    cursor: pointer;
}

.rightmenu li {
    text-align: center;
    display: block;
    height: 30px;
    line-height: 32px;
}

.rightmenu li:hover {
    background-color: #666;
    color: #fff;
}
.cmdlist-container img {
    width: 100%;
}
.cmdlist-text .txteax {
    font-size: 14px;
}
.cmdlist-text .txteax b {
    margin-right: 20px;
}
.cmdlist-text .txteax p {
    display: inline-block;
}
.cmdlist-text .flow {
    text-align: right;
    float: right;
}
.layui-card-header .layui-a-tips {
    position: absolute;
    right: 15px;
    color: #01AAED;
}
.layuiadmin-card-status dd {
    padding: 15px 0;
    border-bottom: 1px solid #EEE;
    display: -webkit-flex;
    display: flex;
}
.layuiadmin-card-status dd div.layui-status-img, .layuiadmin-card-team .layui-team-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #009688;
    margin-right: 15px;
}
.layuiadmin-card-status dd div.layui-status-img a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}
.layuiadmin-card-status dd div.layui-status-img img, .layuiadmin-card-team .layui-team-img img {
    width: 50%;
    height: 50%;
}
.layuiadmin-card-status dd div a {
    color: #01AAED;
}
.layuiadmin-card-status {
    padding: 0 10px 10px;
}
.layuiadmin-card-status li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}
.layuiadmin-card-status li h3 {
    padding-bottom: 5px;
    font-weight: 700;
}
.layuiadmin-card-status li p {
    padding-bottom: 10px;
}
.layuiadmin-card-status li>span {
    color: #999;
}
.layuiadmin-home2-usernote .layuiadmin-reply {
    position: absolute;
    right: 0;
    bottom: 12px;
}
.cmdlist-text .info {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 10px;
}

.layui-nav-bar {height: 3px;}
.page-content .layui-tab-content,.x-body {background: #f7fcff!important ;}
.page-content .tab {background: #f7fcff!important ;}
.layui-bg-black {	background: #333951!important ;}
.left-nav { top:60px!important ;border: none!important;}
.left-nav #nav li .sub-menu {background: #333951!important ;}
ul.sub-menu li:hover {background: #02072c!important ;}
.container .logo a{	background: #212844 ;}
.left-nav #nav li a {color: #fff;}

.container{    background-color: #212844;}
.container .left_open {margin-left: 20px;}
.page-content .layui-tab-title  { padding-top: 10px;padding-left: 15px;}
.layui-tab-title li {background: #d8e1f4;border-top-left-radius: 6px!important;border-top-right-radius: 6px!important;border: none;margin-right: 8px;}
.layui-tab-title .layui-this:after {border-top-left-radius: 6px!important;border-top-right-radius: 6px!important;}
.layui-tab-title .layui-this {background: #f6f7f9!important;}
.x-nav {background:  #f6f7f9!important;}
.page-content .layui-tab-title{background: #28304e;}
.page-content  { top:60px;bottom: 0;}
.x-admin-backlog-body p cite {color: #2b9ef7;}
.page-content .layui-tab-content {top:50px}
.left-nav #nav .current {background: #02072c;}
.layui-form-onswitch {background: #10d0b7;border-color: #10d0b7;}
xblock  {background: none;}
xblock .layui-form-item {margin-bottom: 0;}
xblock .layui-form-item .layui-form-switch {margin-top: 6px;}

.layui-bg-green {background: #10d0bb!important;}
.active a {background-color: #2b9ef7!important;}
.layui-btn-primary ,.layui-btn-primary:hover{color: #fff!important;}
.layui-table-cell .layui-badge {background: #f76f63 !important;}
.layui-table-cell .layui-bg-black {background: #b690f3 !important;}
.layui-table-cell .layui-bg-green {background: #10d0bb !important;}

.layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #2b9ef7!important;}

.layui-form-item .layui-input-inline {
	float: left;
	margin-right: 10px;
}
#jizhitj{
	position: fixed;
	bottom: 10px;
	z-index: 9999;
	width: 100%;
	margin-bottom: 10px;
}
.layui-form-select dl {
	z-index: 999999;
}
#jizhitj .layui-btn{padding:0 40px;border-radius: 6px;}

.x-body	.layui-tab-content {background: #fff;padding:20px 30px;}
.x-body	.layui-tab-title .layui-this {background: #fff !important;}
.x-body	.layui-tab-title  {border: none!important;}
.x-body .layui-tab-content	,.layui-card {box-shadow: 2px 2px 10px rgba(0,0,0,.1)!important;}
.x-body .layui-fluid {padding: 0;}
.x-nav .layui-btn {    line-height: 38px!important;margin-top: 0!important;}
.layui-card .layui-card  {box-shadow:none!important;}
.x-so {margin-bottom: 0;}
.layui-collapse {margin-bottom: 20px;background: #fff;}

.layui-btn {background: #2b9ef7;}
.layui-btn-warm {background: #fdad4e;}
.layui-btn-danger {background: #f46f5e;}
.layui-btn-normal {background: #10d0bb;}
.layui-colla-title,.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {background: #f7f8fa;}
.x-admin-backlog-body {border-radius: 6px!important;}
.x-admin-backlog-body:hover {background: #2b9ef7;color: #fff;}
.x-admin-backlog-body:hover p cite {color: #fff;}
.layui-tab-brief>.layui-tab-title .layui-this {color: #000;}
.layui-tab-brief>.layui-tab-title .layui-this::after {display: none;}
.layui-btn-primary {border: none;}
.layui-form-select dl dd.layui-this {background: #2b9ef7;}
.layui-input:focus, .layui-textarea:focus {    border-color: #2b9ef7!important;}
.layui-colla-item input {margin-left: 5px;}
.layui-colla-item br {display: none;}
.layui-tab-title li .layui-tab-close {    color: #848484;}
.login-bg {    
	position: relative;
	/* 美女大图背景
	background: url(http://api.btstu.cn/sjbz/?lx=meizi) no-repeat center; background-size: cover;
 */
    background: -webkit-gradient(linear, left bottom, left top, from(#3a485a), to(#607089));
    background: linear-gradient(0deg, #3a485a 0%, #607089 100%);
	/* 灰色渐变大背景 */
}
/* 美女大图虚化 */
.login-bg:after{    content: "";    width:100%;    height:100%;    position: absolute;    left:0;    top:0;    background: inherit;    filter: blur(10px);    z-index: 2;}

.login {z-index: 999;position: relative;-webkit-box-shadow: 0px 20px 80px 0px rgba(0,0,0,0.3);    box-shadow: 0px 20px 80px 0px rgba(0,0,0,0.3);}
.login #darkbannerwrap {background: none;}
.login .message { padding: 0 10px; margin:0;text-align: center;background: none;color: #000;font-weight: bold;font-size: 22px;}
.login hr {background: none;	}
.login input[type=text], .login input[type=file], .login input[type=password], .login input[type=email], select {border-radius: 6px;}
.login input[type=submit] {background: #2b9ef7;}
.login { min-height: 300px;border-radius: 6px;}
ul#nav {
    margin-top: 16px;
}
.layui-table-tool .layui-input{
    height: 32px;
    line-height: 32px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
	font-size:12px;
}
.active a{   
	background: #f00;
    color: #fff;}
.upload-icon-img {
    padding-right: 8px;
}