		{if($lists)}
				{foreach $lists as $v}
                    <div class="faq-item">
                        <h4 class="question">{$v['title']}</h4>
                        <div class="answer">
                            <p>{$v['description']}</p>
                        </div>
                    </div>
				{/foreach}
				{else}
				1
				{/if}
                   
			{if($lists)}
			{if(!isMobile())}
			<div style="    width: 215px;margin: 0 auto;margin-top:20px">
			 <nav>
				<ul class="pagination">
				{if($listpage['list'])}
					<li class="page-item {if(!$listpage['prev'])}disabled{/if}"><a class="page-link" href="{$listpage['prev']}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					{foreach $listpage['list'] as $ss}
					<li class="page-item {if($ss['num']==$listpage['current_num'])}active background{/if}"><a href="{$ss['url']}" class="page-link">{$ss['num']}</a></li>
					{/foreach}
					<li class="page-item {if(!$listpage['next'])}disabled{/if}"><a class="page-link" href="{$listpage['next']}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				{/if}
				</ul>
			</nav>
			</div>
			{/if}
			
			{/if}