<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{$type['classname']}-{$webconf['web_name']}</title>
<meta name="keywords" content="{$type['keywords']}" />
<meta name="description" content="{$type['description']}" />
{include="style"}
</head>

<body>
   {include="nav"}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">联系我们</h2>
                    <p>如果您对极致CMS有什么建议或者想要定制开发，可以通过下面的方式联系我们！</p>
                </div>
               <div class="block-content">
					<div class="faq-item">
                        <h4 class="question">联系电话：{$webconf['web_tel']}</h4>
                        <h4 class="question">联系QQ：{$webconf['web_qq']}</h4>
                        <h4 class="question">联系邮箱：{$webconf['web_email']}</h4>
                        <h4 class="question">公司地址：{$webconf['web_address']}</h4>
						<h4 class="question">技术支持：极致网络科技</h4>
                        
                    </div>
			   </div>
                 
                
            </div>
        </section>
    </main>
    {include="footer"}
</body>

</html>