<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,noarchive">
	<title>发布文章-{$webconf['web_name']}</title>
	<meta property="og:title" 	content="发布文章-{$webconf['web_name']}" />
	<meta name="twitter:title" 	content="发布文章-{$webconf['web_name']}" />
	<meta name="keywords" content="发布文章-{$webconf['web_keyword']}" />
	<meta name="description"  content="发布文章-{$webconf['web_desc']}" />
	{include="user/user-style"}

	<link rel="stylesheet" href="{$common}editor/src/style/editor.css">
	<!-- <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.0.min.js"></script> -->
	<script src="{$common}editor/dist/editor.js"></script>
	<script src="{$common}editor/dist/jquery-migrate-3.1.0.js"></script>
</head>
<body>
{include="user/user-top"}
<section class="container py-3">
	<div class="row justify-content-center">
		
		<div class="col-12 step">
			<fieldset>
			<div  >
			<a href="{fun U('posts')}" ><button class="btn btn-info">返回列表</button></a>
				<form action="" method="post" onsubmit="return checkarticleform()" id="articleform">
					<input name="id" value="{$data['id']}" type="hidden" />
					<div class="form-group">
					    <label for="title">标题</label>
					    <input type="text" class="form-control" value="{$data['title']}" name="title" id="title" placeholder="请填写标题">
					    <small id="emailHelp" class="form-text text-muted">文章的标题,30字以内</small>
				  	</div>
				  	<div class="form-group">
					    <label for="tid">栏目</label>
					    <select class="form-control" name="tid" id="tid">
					      {foreach $classtypetree as $v}
					      {if($v['isshow']==1 && $v['molds'] == $molds)}
					      <option value="{$v['id']}" {if($data['tid']==$v['id'])}selected{/if}>{$v['classname']}</option>
					      {/if}
					      {/foreach}
					     
					    </select>
					</div>
					<div class="form-group">
					    <label for="litpic">缩略图</label>
					    <span id="view-img">{if($data['litpic']!='')}<img src="{$data['litpic']}" height="100"  />{/if}</span>
					    <input type="hidden" value="{$data['litpic']}"  name="litpic" id="litpic_url">
					    <input type="file" name="filename" class="form-control-file" id="litpic">
					</div>
					<div class="form-group">
						<label for="litpic">内容</label>
						<div id="J_des_container">
							<div id="J_des_editor"></div>

						</div>
					</div>
					<textarea name="body" style="display: none;" id="body">{$data['body']}</textarea>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" style="width: 100%" class="btn btn-primary">提交</button>
					    </div>
					  </div>

				</form>
				
			</div>
			</fieldset>
		</div>
	</div>
</section>



{include="user/common"}
<script>
$(document).ready(function(){
	$("#litpic").change(function(){
		var form=document.getElementById("articleform");
		var data =new FormData(form);
		data.append('filename','filename');
		$.ajax({
			 url: "{fun U('User/uploads')}",//处理图片的文件路径
			 type: "POST",//传输方式
			 data: data,
			 dataType:"json",   //返回格式为json
			 processData: false,  // 告诉jQuery不要去处理发送的数据
			 contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
			 success: function(response){
				console.log(response);
				if(response.code==0){
					
					var result = '';
					result +='<img src="/' + response['url'] + '" height="100"  />';
					$('#view-img').html(result);
					$("#litpic_url").val('/'+response['url']);
				}else{
					alert(response.error);
				}
				
			 }
		});
		
	});
	});
</script>
<script>
		var editor = new editor('J_des_container','J_des_editor', {placeholder: '<p class="placeholder">请输入文章内容</p>', imageUpload: "{fun U('Common/uploads')}"});
		$('#getvalue').on('click', function() {
			//alert(editor.getValue());
		});
		$('#setvalue').on('click', function() {
			//editor.setValue("重新设置编辑器内容");
		});
		$(function(){
			{if($data['body']!='')}
			editor.setValue('{$data['body']}');
			{/if}
		})

		function checkarticleform (){
			$("#body").html(editor.getValue());
			if($.trim($("#title").val())==''){
				alert('文章标题不能为空！');return false;
			}
			if($.trim($("#tid").val())==''){
				alert('请选择发布栏目！');return false;
			}
			if($.trim($("#litpic_url").val())==''){
				alert('缩略图不能为空！');return false;
			}
			if($.trim($("#body").val())==''){
				alert('内容不能为空！');return false;
			}
			return true;

		}

	</script>
</body>
</html>