<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,noarchive">
	<title>文章列表-{$webconf['web_name']}</title>
	<meta property="og:title" 	content="文章列表-{$webconf['web_name']}" />
	<meta name="twitter:title" 	content="文章列表-{$webconf['web_name']}" />
	<meta name="keywords" content="文章列表-{$webconf['web_keyword']}" />
	<meta name="description"  content="文章列表-{$webconf['web_desc']}" />
	{include="user/user-style"}

</head>
<body>
{include="user/user-top"}
<section class="container py-3">
	<div class="row justify-content-center">
		<div class="col-lg-10 step mb-2">
			{include="user/user-content"}
		</div>
		<div class="col-12 step">
			<fieldset>
			<div style="width:100%;  overflow:scroll;overflow-y: hidden">
			<label class="h5">文章列表</label><a href="{fun U('release')}" style="margin-left: 20px"><button class="btn btn-primary">发布文章</button></a>
				<table border="1" rules="all" style="width:100%; height:100px; text-align:center;white-space:nowrap" class="table table-striped table-bordered">
					
					<tbody class="text-center">
					
						<tr class="table-primary">
							<th class="num">ID</th>
							<th class="num">标题</th>
							<th class="num">日期</th>
							<th class="num">阅读量</th>
							<th class="num">状态</th>
							<th class="num">操作</th>
						</tr>
						{if($lists)}
						{foreach $lists as $v}
						<tr>
							<td>{$v['id']}</td>
							<td>{$v['title']}</td>
							<td>{fun date('Y/m/d',$v['addtime'])}</td>
							<td>{$v['hits']}</td>
							<td>{if($v['isshow']==1)}<span style="color:green">已通过</span>{else}<span style="color:#f00">未审核</span>{/if}</td>
							<td><a href="javascript:if(confirm('确定要删除文章吗？'))window.location.href='{fun U('User/del',['molds'=>$v['molds'],'id'=>$v['id']])}'"><button class="btn btn-danger">删除</button></a><a href="{fun U('release',['molds'=>$v['molds'],'id'=>$v['id']])}"><button class="btn btn-primary">修改</button></a>{if($v['isshow']==1)}<a href="{$v['url']}" target="_blank"><button class="btn btn-info">预览</button></a>{/if}</td>
						</tr>
						{/foreach}
						{if(!isMobile())}
						<tr><td colspan="6">{$pages}</td></tr>
						{/if}
						{else}
						<tr><td colspan="6">暂无文章</td></tr>
						{/if}
						<tr id="more"></tr>
					</tbody>
				</table>
			</div>
			</fieldset>
		</div>
	</div>
</section>



{include="user/common"}
<script>
{if(isMobile())}
var p=1;
$(window).scroll(function () {
	//判断是否滑动到页面底部
	
	if ($(window).scrollTop() === ($(document).height() - $(window).height()) ) {	
		p++;
		$.ajax({
		 url:"{fun U('User/article')}", 
		 dataType:"json",
		 async:true,
		 data:{page:p,ajax:1,iscode:1},
		 type:"POST",//请求方式
		 beforeSend:function(){
			//请求前的处理
		},
		 success:function(r){
		//请求成功时处理
				if(r.code==0){
					var html = '';
					var leng = r.data.length;
					if(leng>0){
						for(var i=0;i<leng;i++){
							html+='<tr>'+
							'<td>'+r.data[i].id+'</td>'+
							'<td>'+r.data[i].title+'</td>'+
							'<td>'+r.data[i].time+'</td>'+
							'<td>'+r.data[i].hits+'</td>';
							switch(r.data[i].isshow){
								case 1:
								html+='<span style="green">已通过</span>';
								break;
								default:
								html+='<span style="#f00">未审核</span>';
								break;
							}
							if(r.data[i].isshow==1){
								html+='<td><a href="javascript:if(confirm(\'确定要删除文章吗？\'))window.location.href=\''+r.data[i].del+'\'"><button class="btn btn-danger">删除</button></a><a href="'+r.data[i].edit+'"><button class="btn btn-primary">修改</button></a><a target="_blank" href="'+r.data[i].url+'"><button class="btn btn-info">预览</button></a></td></tr>';
							}else{
								html+='<td><a href="javascript:if(confirm(\'确定要删除文章吗？\'))window.location.href=\''+r.data[i].del+'\'"><button class="btn btn-danger">删除</button></a><a href="'+r.data[i].edit+'"><button class="btn btn-primary">修改</button></a></td></tr>';
							}
							
						}
						$("#more").before(html);
						
					}
				}else{
					alert(r.msg);
					return false;
				}
		},
		 complete:function(){
		//请求完成的处理
		},
		 error:function(){
		//请求出错处理
				alert('网络异常');
		}

			
			
		})
	
	
	}
})
{/if}
</script>
</body>
</html>