<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,noarchive">
	<title>收藏列表-{$webconf['web_name']}</title>
	<meta property="og:title" 	content="收藏列表-{$webconf['web_name']}" />
	<meta name="twitter:title" 	content="收藏列表-{$webconf['web_name']}" />
	<meta name="keywords" content="收藏列表-{$webconf['web_keyword']}" />
	<meta name="description"  content="收藏列表-{$webconf['web_desc']}" />
	{include="user/user-style"}

</head>
<body>
{include="user/user-top"}
<section class="container py-3">
	<div class="row justify-content-center">
		<div class="col-lg-10 step mb-2">
			{include="user/user-content"}
		</div>
		<div class="col-12 step">
			<fieldset>
			 <div style="width:100%;  overflow:scroll;overflow-y: hidden">
        
				<table class="table table-striped table-bordered" style="width:100%; height:100px; text-align:center;white-space:nowrap" >
					<thead><!--好像沒必要-->
						<label class="h5">我的收藏</label>
					</thead>
					<tbody>
						<tr class="table-primary">
							<th class="num text-center">#</th>
							<th >栏目</a></th>
							<th >标题</a></th>
							<th class="num text-center">操作</th>
						</tr>
						{if($lists)}
						{foreach $lists as $v}
						{if($v)}
						<tr>					
							<td class="text-center">{$v['id']}</td>
							<td class="text-center">{$classtypedata[$v['tid']]['classname']}</td>
							<td>
								<a href="{fun gourl($v['id'],$v['htmlurl'])}" target="_blank">{$v['title']}<a/>
							</td>
							
							<td class="text-center"><a href="javascript:if(confirm('确定要删除这条收藏吗？'))window.location.href='{fun U('User/collect_del',['id'=>$v['id'],'tid'=>$v['tid']])}'">删除</a></td>
						</tr>
						{else}
						<tr>					
							<td colspan="3">[已被删除]</td>
							
							<td class="text-center"><a href="javascript:if(confirm('确定要删除这条收藏吗？'))window.location.href='{fun U('User/collect_del',['id'=>$v['id'],'tid'=>$v['tid']])}'">删除</a></td>
						</tr>
						{/if}
						{/foreach}
						{if(!isMobile())}
						<tr><td colspan="4">{$pages}</td></tr>
						{/if}
						{else}
						<tr><td colspan="4">没有任何收藏哦~</td></tr>
						{/if}
						<tr id="more"></tr>
					</tbody>
				</table>
				</div>
			</fieldset>
		</div>
	</div>
</section>
<script>
{if(isMobile())}
var p=1;

$(window).scroll(function () {
	//判断是否滑动到页面底部
	if ($(window).scrollTop() === ($(document).height() - $(window).height()) ) {	
		p++;
		
		$.ajax({
		 url:"{fun U('User/collect')}", 
		 dataType:"json",
		 async:true,
		 data:{page:p,ajax:1,iscode:1},
		 type:"GET",//请求方式
		 beforeSend:function(){
		//请求前的处理
		},
		 success:function(r){
		//请求成功时处理
				if(r.code==0){
					var html = '';
					var leng = r.data.length;
					if(leng>0){
						for(var i=0;i<leng;i++){
							html+='<tr>'+
							'<td class="text-center">'+r.data[i].id+'</td>'+
							'<td class="text-center">'+r.data[i].classname+'</td>'+
							'<td><a href="'+r.data[i].url+'" target="_blank">'+r.data[i].title+'<a/></td>'+
							'<td class="text-center"><a href="javascript:if(confirm(\'确定要删除这个收藏吗？\'))window.location.href=\''+r.data[i].likes_del+'\'">刪除</a></td></tr>';
						}
						$("#more").before(html);
					}else{
						//alert('没有更多了~');
					}
				}else{
					alert(r.msg);
					return false;
				}
		},
		 complete:function(){
		//请求完成的处理
		},
		 error:function(){
		//请求出错处理
				alert('网络异常');
		}

			
			
		})
	
	
	}
})


{/if}
</script>
{include="user/common"}

</body>
</html>