<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,noarchive">
	<title>个人中心-{$webconf['web_name']}</title>
	<meta property="og:title" 	content="个人中心-{$webconf['web_name']}" />
	<meta name="twitter:title" 	content="个人中心-{$webconf['web_name']}" />
	<meta name="keywords" content="个人中心-{$webconf['web_keyword']}" />
	<meta name="description" 			content="个人中心-{$webconf['web_desc']}" />
{include="user/user-style"}
	
</head>
<body>
{include="user/user-top"}
<section class="container py-3">
	<div class="row justify-content-center">
		<div class="col-lg-10 step mb-2">
			{include="user/user-content"}
		</div>
		<div class="col-lg-8 step">
			<fieldset>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">昵称</div>
					</div>
					<div class="form-control">{$member['username']}</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/userinfo')}">编辑</a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="input-group mb-2">				
					<div class="input-group-prepend">
						<div class="input-group-text">手机</div>
					</div>
					<div class="form-control">{$member['tel']}</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/userinfo')}">编辑</a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="input-group mb-2">				
					<div class="input-group-prepend">
						<div class="input-group-text">邮箱</div>
					</div>
					<div class="form-control">{$member['email']}</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/userinfo')}">编辑</a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="input-group mb-2">				
					<div class="input-group-prepend">
						<div class="input-group-text">订单</div>
					</div>
					<div class="form-control">总共有<span class="px-1">{$order_num}</span>笔 订单</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/order')}">查看</a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="input-group mb-2">				
					<div class="input-group-prepend">
						<div class="input-group-text">评论</div>
					</div>
					<div class="form-control">发表了<span class="px-1">{$comment_num}</span>条 评论</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/comment')}">查看</a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="input-group mb-2">				
					<div class="input-group-prepend">
						<div class="input-group-text">点赞</div>
					</div>
					<div class="form-control">我赞了<span class="px-1">{$likes_num}</span>篇文章</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/likes')}">查看</a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="input-group mb-2">				
					<div class="input-group-prepend">
						<div class="input-group-text">收藏</div>
					</div>
					<div class="form-control">收藏了<span class="px-1">{$collect_num}</span>篇內容</div>
					<div class="input-group-prepend">
						<a class="btn btn-outline-secondary" href="{fun U('User/collect')}">查看</a>
					</div>
				</div>
			</fieldset>
			
			
		</div>
	</div>
</section>

{include="user/common"}
</body>
</html>