
	<link rel="stylesheet" href="{$common}user/style/bootstrap.min.css" />
	<link rel="stylesheet" href="{$common}user/style/font-awesome.min.css" />
	<script src="{$common}user/style/jquery.min.js"></script>
    <script src="{$common}user/style/bootstrap.bundle.min.js"></script>
	
	<style>
	:root {
		--muted: #dee2e6;
		--444: #444;
	}
		input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important;}
		input[type="number"]{-moz-appearance:textfield;}
		.step{background:url({$common}user/style/step_bg.png) no-repeat center bottom;overflow:hidden;}
		blockquote {
		    padding: 1.25rem;
		    margin-top: 1.25rem;
		    margin-bottom: 1.25rem;
		    border: 1px solid var(--muted);
		    border-left-width: .25rem;
		    border-left-color: #5bc0de;
		    border-radius: .25rem;
		}
		.pt-10 {padding-top:10rem;}
		.pt-6  {padding-top: 6rem;}
    	.card {border:none;}
		span.badg i {
			position:absolute;
			font-size: 1.5rem;
			right: 20px;
			bottom: 0;
			border-radius: 50%;
			padding: .5rem;
			background: var(--muted);
			color: var(--444);
		}
		.bg-header {
			background:	url({$common}user/style/bg.jpg)center bottom no-repeat;
			background-size: cover;
		}
		.ulink {
			font-size:3rem; padding:.5rem .5rem 0;
		}
		.pagination li {
			float: left;
			padding: 10px;
			list-style: none;
		}
	</style>
	