<section class="container-fluid bg-header pt-6 pb-5 text-white">
	<div class="row justify-content-center">
		<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
			<img id="userinfo_img" class="img-fluid img-thumbnail rounded-circle" src="{if($member['litpic']=='')}{$common}user/style/img.jpg{else}{$member['litpic']}{/if}">
			<span class="badg"><a  href="#member-upload" data-toggle="modal" data-target="#member-upload"><i class="fa fa-camera" aria-hidden="true"></i></a></span>
		</div>
	</div>
	<div class="row justify-content-center py-2">
		<div class="col-6 col-lg-2 text-center">
			<p class="mb-2">{$member['username']}</p>
		</div>
		<div class="col-12 text-center">
			<pre class="text-white">积分: <span>{$member['jifen']}</span> / 金额: <span>{$member['money']}</span></pre>
		</div>
	</div>
</section>