<div class="row">
				<div class="col-4 text-center">
					<a href="{fun U('index')}">
						<i class="fa fa-home ulink"></i>
					</a>
					<p class="mx-auto">个人中心</p>
				</div>
				<div class="col-4 text-center">
					<a href="{fun U('User/order')}">
						<i class="fa fa-file-text ulink"></i>
					</a>
					<p class="mx-auto">订单列表</p>
				</div>
				<div class="col-4 text-center">
					<a href="{fun U('User/comment')}">
						<i class="fa fa-commenting-o ulink"></i>
					</a>
					<p class="mx-auto">评论列表</p>
				</div>
				<div class="col-4 text-center">
					<a href="{fun U('User/likes')}">
						<i class="fa fa-thumbs-o-up ulink"></i>
					</a>
					<p class="mx-auto">点赞列表</p>
				</div>
				<div class="col-4 text-center">
					<a href="{fun U('User/collect')}">
						<i class="fa fa-heart ulink"></i>
					</a>
					<p class="mx-auto">收藏列表</p>
				</div>
				<div class="col-4 text-center">
					<a href="{fun U('login/loginout')}">
						<i class="fa fa-sign-out ulink"></i>
					</a>
					<p class="mx-auto">安全退出</p>
				</div>
			</div>