								{if($lists)}
								<div class="row no-gutters">
								{foreach $lists as $v}
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="{fun gourl($v['id'],$v['htmlurl'])}"><img class="img-fluid d-block mx-auto" src="{$v['litpic']}"></a></div>
                                            <div class="product-name"><a href="{$v['url']}">[{$v['id']}]{$v['title']}</a></div>
                                            <div class="about">
                                                <div class="rating">
												{php $star_num = show_comment($v['tid'],$v['id'],'average')/}
												{for $i=1;$i<=$star_num;$i++}
												<img src="{$tpl}assets/img/star.svg">
												{/for}
												{if(round($star_num)!=$star_num)}
												<img src="{$tpl}assets/img/star-half-empty.svg">
												{/if}
												{if($star_num<5)}
												{for $i=1;$i<=(5-$star_num);$i++}
												<img src="{$tpl}assets/img/star-empty.svg">
												{/for}
												{/if}
												
												
												</div>
                                                <div class="price">
                                                    <h3>￥{$v['price']}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								{/foreach}
                                   
                                </div>
								{if(!isMobile())}
                                <nav>
                                    <ul class="pagination">
									
									{if($listpage['list'])}
                                        <li class="page-item {if(!$listpage['prev'])}disabled{/if}"><a class="page-link" href="{$listpage['prev']}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
										{foreach $listpage['list'] as $ss}
                                        <li class="page-item {if($ss['num']==$listpage['current_num'])}active background{/if}"><a href="{$ss['url']}" class="page-link">{$ss['num']}</a></li>
										{/foreach}
                                        <li class="page-item {if(!$listpage['next'])}disabled{/if}"><a class="page-link" href="{$listpage['next']}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
									{/if}
                                    </ul>
                                </nav>
								{/if}
							{else}
							1
							{/if}