<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>找回密码 - {$webconf['web_name']}</title>
<meta name="keywords" content="{$webconf['web_keyword']}" />
<meta name="description" content="{$webconf['web_desc']}" />
   {include="style"}
</head>

<body>
   {include="nav"}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">找回密码</h2>
                    <p>找回密码展示页</p>
                </div>
                <form method="POST" onsubmit="return checklogin()">
                    <div class="form-group"><label for="tel">请输入您的账号</label><input class="form-control item" type="tel" name="tel" id="tel"></div>
                    <div class="form-group"><input placeholder="请输入图形验证码" class="form-control item" style="width:75%;float:left;" type="text" name="vercode" id="vercode"><img style="width:25%" src="{fun U('Common/vercode',['code_name'=>'forget_code'])}" onclick="this.src=this.src+'?'+Math.random()"></div>
					<button class="btn btn-primary btn-block" type="submit">确	定</button>
					
				</form>
            </div>
        </section>
    </main>
   {include="footer"}
</body>
<script>



function checklogin(){
	if($.trim($("#tel").val())==''){
		alert('账号不能为空~');
		return false;
	}
	if($.trim($("#vercode").val())==''){
		alert('图形验证码不能为空~');
		return false;
	}
	
	return true;

}



</script>

</html>