<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{$webconf['web_name']}</title>
<meta name="keywords" content="{$webconf['web_keyword']}" />
<meta name="description" content="{$webconf['web_desc']}" />

    {include="style"}
</head>

<body>
   {include="nav"}
  
    <main class="page landing-page">
	   <section class="clean-block clean-hero" style="background-image:url('{$tpl}assets/img/tech/image4.jpg');color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>极致CMS建站系统</h2>
                <p>开源免费，无商业授权，仅需记住几个简单的模板标签，小白也能搭建一个简单的网站，让你简单快乐的工作。</p><a href="{$classtypedata[5]['url']}" target="_blank"><button class="btn btn-outline-light btn-lg" type="button">了解更多</button></a></div>
        </section>
		
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">极致CMS建站 Demo</h2>
                    <p>一个基于极致CMS搭建的简易模板网站</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="{$tpl}assets/img/scenery/image5.jpg"></div>
                    <div class="col-md-6">
                        <h3>极致建站系统</h3>
                        <div class="getting-started-info">
                            <p>简单轻便，易操作，初学者无任何压力。在版权许可范围内，无需商业授权，自由开源。支持免费二开，小白也能做插件！</p>
                        </div><a href="{$classtypedata[5]['url']}"><button class="btn btn-outline-primary btn-lg" type="button">立刻了解</button></a></div>
                </div>
            </div>
        </section>
	<div class="projects-horizontal">
      
        <div class="container">
            <div class="intro">
                <h2 class="text-center">新闻列表</h2>
                <p class="text-center">新闻在首页的输出，初识LOOP模板标签强大的功能</p>
            </div>
            <div class="row projects">
			{loop table="article" ispage="1" orderby="orders desc,addtime desc" isall="1" limit="4" as="v"}
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="{$v['url']}"><img class="img-fluid" src="{$v['litpic']}"></a></div>
                        <div class="col">
                            <h3 class="name">{$v['title']}</h3>
                            <p class="description">{fun newstr($v['description'],100)}</p>
                        </div>
                    </div>
                </div>
			{/loop}
			<div style="    width: 215px;margin: 0 auto;margin-top:20px">
			 <nav>
				<ul class="pagination">
				{if($v_listpage['list'])}
					<li class="page-item {if($v_listpage['prev'])}disabled{/if}"><a class="page-link" href="{$v_listpage['prev']}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					{foreach $v_listpage['list'] as $ss}
					<li class="page-item {if($ss['num']==$v_listpage['current_num'])}active background{/if}"><a href="{$ss['url']}" class="page-link">{$ss['num']}</a></li>
					{/foreach}
					<li class="page-item {if($v_listpage['next'])}disabled{/if}"><a class="page-link" href="{$v_listpage['next']}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				{/if}
				</ul>
			</nav>
			</div>
            </div>
        </div>
    </div>
	<div class="projects-horizontal">
		
                <div class="col-xl-12 mx-auto" style="text-align: center;">
                    <h1 class="mb-5">搜索模块展示</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="{fun get_domain()}/search" method="GET">
						<input name="molds" type="hidden" value="article" />
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" name="word" type="text" placeholder="输入关键词"></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">单模搜索</button></div>
                        </div>
						
                    </form>
                </div>
            
    </div>
	<div class="projects-horizontal" style="margin-top:20px;">
		
                
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="{fun get_domain()}/searchAll" method="GET">
						<input name="molds[]" type="hidden" value="article" />
						<input name="molds[]" type="hidden" value="product" />
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" name="word" type="text" placeholder="输入关键词"></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">全局搜索</button></div>
                        </div>
						
                    </form>
                </div>
           
    </div>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">极致CMS特点</h2>
                    <p>极致CMS建站系统与其他的CMS系统区别不大，如果你有模板建站的基础，那么很容易掌握极致CMS使用方法</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>模板标签</h4>
                        <p>模板标签很简单，仅需记住几个就可以完成建站</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>自定义</h4>
                        <p>后台简单的自定义内容设置和前台输出</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>多端支持</h4>
                        <p>内置自动识别多种客户端：PC、WAP、微信，可分别设置模板，系统自动切换模板</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>内置文件缓存</h4>
                        <p>可以通过设置模板缓存时间达到静态访问的快速效果</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">轮播图</h2>
                    <p>系统专门设置有轮播图分类，可以设置多个轮播图。初识轮播图前台输出效果，用LOOP模板标签，简单完成。</p>
                </div>
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner" role="listbox">
					{loop table="collect" tid="1" orderby="orders desc" as="v"}
                        <div class="carousel-item {if($v_key==0)}active{/if}"><img class="w-100 d-block" src="{$v['litpic']}" alt="Slide Image"></div>
					{/loop}
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                            data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <!--loop自带$n计数-->
					{if($v_n)}
                        {for $i=0;$i<=$v_key;$i++}
                        <li data-target="#carousel-1" data-slide-to="{$i}" class="{if($i==0)}active{/if}"></li>
						{/for}
					{/if}
                       
                    </ol>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">极致CMS开发者</h2>
                    <p>极致CMS是由个人开发者独立开发，版权归于廊坊极致网络科技有限公司。</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{$tpl}assets/img/avatars/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">John Smith</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{$tpl}assets/img/avatars/avatar2.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Robert Downturn</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{$tpl}assets/img/avatars/avatar3.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Ally Sanders</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		
		
    </main>
 {include="footer"}
</body>

</html>