<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>支付订单 - {$webconf['web_name']}</title>
<meta name="keywords" content="{$webconf['web_keyword']}" />
<meta name="description" content="{$webconf['web_desc']}" />
    {include="style"}
	<style>
	
	</style>
</head>

<body>
    {include="nav"}
    <main class="page payment-page">
        <section class="clean-block payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">支付页面DEMO</h2>
                    <p>介绍支付流程，支付选择，支付确认等操作</p>
                </div>
                <form action="{fun U('pay')}" id="myform" method="POST">
				<input name="go" value="1" type="hidden" />
				<input name="orderno" value="{$order['orderno']}" type="hidden" />
                    <div class="products">
                        <h3 class="title">订单确认</h3>
						{foreach $carts as $v}
						{if($v['info'])}
                        <div class="item"><span class="price">￥{$v['price']*$v['num']}</span>
                            <p class="item-name">{$v['info']['title']}</p>
                            <p class="item-description">{fun newstr($v['info']['description'],30)}</p>
							
                        </div>
						{else}
						 <div class="item"><span class="price">￥{$v['price']*$v['num']}</span>
                            <p class="item-name">[商品已下架]</p>
                            <p class="item-description"></p>
							
                        </div>
						{/if}
						{/foreach}
                       
                        <div class="total"><span>折扣</span><span class="price">￥{$order['discount']}</span></div>
                        <div class="total"><span>运费</span><span class="price">￥{$order['yunfei']}</span></div>
                        <div class="total"><span>合计</span><span class="price">￥{$order['price']}</span></div>
                    </div>
                    <div class="card-details">
                        <h3 class="title">收货信息</h3>
                        <div class="form-row">
                            <div class="col-sm-7">
                                <div class="form-group"><label for="card-holder">*收货人</label><input class="form-control" type="text" name="username" id="username" value="{$member['username']}" placeholder="填写收货人信息"></div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group"><label>*联系手机</label>
                                    <div class="input-group">
									<input class="form-control" name="tel" id="tel" value="{$member['tel']}" type="text" placeholder="填写收货人手机号"></div>
                                </div>
                            </div>
							 <div class="col-sm-12">
                                <div class="form-group"><label>收件邮箱</label>
                                    <div class="input-group">
									<input class="form-control" name="email" id="email" value="{$member['email']}" type="text" placeholder="方便接收发货邮件"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"><label>*收货地址</label>
                                    <div class="input-group">
									<input class="form-control" id="address" name="address" value="{$member['address']}" type="text" placeholder="填写收货地址"></div>
                                </div>
                            </div>
							{if($webconf['paytype']==0)}
							<div class="col-sm-12">
								<div class="form-group"><button onclick="checkpay()" class="btn btn-primary btn-block" type="button">提交订单</button></div>
							</div>
                            {/if}
                        </div>
                    </div>
					
					{if($webconf['paytype']!=0)}
					<div class="card-details">
                        <h3 class="title">支付方式</h3>
						<div class="form-row">
						
							
						
							<div class="col-sm-12">
								<div class="custom-control">
									<input type="radio" name="paytype" checked value="1"><img src="{$tpl}assets/img/zfb.png" width="100px">
									支付宝
								</div>
								<div class="custom-control">
								<input type="radio" name="paytype" value="2"><img src="{$tpl}assets/img/wx.png" width="100px">微信支付
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group"><button  onclick="checkpay()"  class="btn btn-primary btn-block" type="button">支付</button></div>
							</div>
						</div>
					</div>
					{/if}
                </form>
            </div>
        </section>
    </main>
    {include="footer"}
	<script>
	$(function(){
		$(".pay").click(function(){
			$(this).removeClass('pay-hide').addClass('pay-active').siblings().removeClass('pay-active').addClass('pay-hide');
		});
	
	})
	//检查订单
	function checkpay(){
		var username = $.trim($("#username").val());
		var tel = $.trim($("#tel").val());
		var email = $.trim($("#email").val());
		var address = $.trim($("#address").val());
		if(username==''){
			alert('收货人不能为空！');$("#username").focus();return false;
		}
		if(tel==''){
			alert('联系手机不能为空！');$("#tel").focus();return false;
		}
		if(address==''){
			alert('收货地址不能为空！');$("#address").focus();return false;
		}
		
		$("#myform").submit();
		
		
		
	}
	
	</script>
</body>

</html>