<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>注册会员 - {$webconf['web_name']}</title>
<meta name="keywords" content="{$webconf['web_keyword']}" />
<meta name="description" content="{$webconf['web_desc']}" />
   {include="style"}
</head>

<body>
   {include="nav"}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">注册会员</h2>
                    <p>会员系统注册展示页</p>
                </div>
                <form method="POST" onsubmit="return checkreg()">
                    <div class="form-group"><label for="tel">手机号</label><input placeholder="作为账号登录"  class="form-control item" type="tel" name="tel" id="tel"></div>
					<div class="form-group"><label for="email">个人邮箱</label><input class="form-control item" type="email" name="email" placeholder="用于找回密码" id="email"></div>
                    <div class="form-group"><label for="password">设置密码</label><input class="form-control" type="password" name="password" id="password"></div>
					<div class="form-group"><label for="repassword">重复密码</label><input class="form-control" type="password" name="repassword" id="repassword"></div>
                    <div class="form-group">
                        <div class="form-check"><a style="float:right" href="{fun U('login/index')}">已有账号？立即登录</a></div>
                    </div><button class="btn btn-primary btn-block" type="submit">注	册</button>
					
				</form>
            </div>
        </section>
    </main>
   {include="footer"}
</body>
<script>



function checkreg(){
	if($.trim($("#tel").val())=='' || $.trim($("#password").val())==''){
		alert('账号密码不能为空~');
		return false;
	}
	if($.trim($("#password").val())!=$.trim($("#repassword").val())){
		alert('两次密码不同~');
		return false;
	}
	
	return true;

}

</script>

</html>